@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');

body {
    margin: 0;
    padding: 0;
}

#header_block {
    font-size: 70px;
    text-align: center;
    font-family: 'Bellota', cursive;
}

#body_block {
    display: flex;
}

.row {
    width: 33.3%;
    padding: 10px;
    margin: 10px;
    background-color: #f6f6f6;
    font-family: 'Bellota', cursive;
}

img {
    width: 400px;
    height: 400px;
}

.row_with_img img {
    width: 300px;
    height: 300px;
}

.witness_form {
    background-color: lightcoral;
    padding: 10px;
}

.witness_form input {
    display: block;
    margin-bottom: 3px;
    width: 100%;
    height: 30px;
    padding: 4px;
    box-sizing: border-box;
}

.witness_form textarea {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.witness_form button {
    border-color: transparent;
    padding: 10px;
    background-color: lightgreen;
    cursor: pointer;
}